---
layout: markdown_page
title: Find a Speaker
---

## Table of Contents
{:.no_toc}

- TOC
{:toc}

## Organizing an event? Looking for a speaker from GitLab?
{:.no_toc}

Look no further. Here's a list of awesome speakers from the GitLab team. Feel
free to reach out directly.

## Speakers

<% regions = data.speakers.flat_map { |speaker| speaker.region }.uniq.reject { |region| region.nil? } %>

<% regions.each do |region| %>

### <%= region %>

  <ul>
  <% data.speakers.select { |speaker| speaker.region == region && speaker.status == 'active' }.each do |speaker| %>
    <li>
      <ul>
        <li>Name: <%= speaker.name %></li>
        <li>Email: <%= link_to speaker.email, "mailto:#{speaker.email}" %></li>
        <li>Specialty: <%= speaker.specialty %></li>
        <li>Location: <%= link_to speaker.location, "https://maps.google.com/?q=#{escape_html(speaker.location)}" %></li>
        <% if speaker.presentations.present? %>
          <li>
            Presentations: <ul>
            <% speaker.presentations.each do |presentation| %>
              <li><%= link_to scrape_title(presentation), presentation %></li>
            <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>

<% end %>

## Still couldn't find a speaker?
{:.no_toc}
### Reach out below, we'll try to help out!
{:.no_toc}

## Contact Form

<% form_tag '/action', method: 'post' do %>
  <% field_set_tag do %>
    <p>
      <%= label_tag :name %>
      <%= text_field_tag :name, placeholder: 'Your Name' %>
    </p>
    <p>
      <%= label_tag :email %>
      <%= email_field_tag :email, placeholder: 'Your Email' %>
    </p>
    <p>
      <%= label_tag :subject %>
      <%= text_field_tag :subject, placeholder: 'Subject' %>
    </p>
    <p>
      <%= label_tag :twitter %>
      <%= text_field_tag :twitter, placeholder: 'Twitter Handle' %>
    </p>
    <p>
      <%= label_tag :url %>
      <%= url_field_tag :url, placeholder: 'Event URL' %>
    </p>
    <p>
      <%= label_tag :date %>
      <%= date_field_tag :date, placeholder: 'Event Date' %>
    </p>
    <p>
      <%= label_tag :body %>
      <%= text_area_tag :body, placeholder: 'Email Text' %>
    </p>
  <% end %>
  <% field_set_tag(:class => 'buttons') do %>
    <%= submit_tag 'Send' %>
  <% end %>
<% end %>
